.page {
  @apply min-h-screen bg-white flex items-center justify-center w-full overflow-hidden pt-4;
}

.card {
  @apply px-6 max-w-2xl w-full text-center;
}

@media (max-width: 768px) {
  .card {
    @apply p-10;
  }
   .page {
    @apply p-6;
  }
    .title {
    font-size: 3rem;
  }
}

.bgLogoWrapper {
  @apply flex justify-center items-center fixed inset-0 m-auto pointer-events-none;
}

.bgLogo {
  @apply pointer-events-none select-none absolute inset-0 m-auto w-screen h-screen object-cover;
  opacity: 4%;
}

.checkmarkCenter {
  @apply flex items-center justify-center mb-3;
}

.title {
  @apply font-semibold mb-2 text-black;
  font-size: 2rem !important;
}

.subtitle {
  @apply mb-4 font-normal text-lg leading-relaxed;
  color: #475569;
}

.verificationImage {
  @apply flex justify-center mb-4;
}

.dashboardBtn {
  @apply block w-full py-2 px-5 rounded-full text-white mb-4 cursor-pointer transition-all duration-300 ease-in-out;
  background-color: #1E3A8A;
  border: 1px solid #C6C6C8;
}

.dashboardBtn:hover, .profileBtn:hover {
  transform: scale(1.02)
}
.profileBtn {
  @apply inline-flex items-center rounded-full py-2 px-5 w-full justify-center mb-4 transition-all duration-300 ease-in-out;
  border: 1px solid #1E3A8A;
  color: #1E3A8A;
  cursor: pointer;
}

.supportText {
  @apply text-center text-sm text-gray-600;
}

.supportLink {
  @apply font-medium;
  color: #1E3A8A;
}

.supportLink:hover {
  @apply text-blue-700;
}
